@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&family=Oxygen:wght@300;400;700&display=swap');

* {
    font-family: 'Cairo', sans-serif;
}

body {
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/rocky-wall.png");
    color: #FFF;
    width: 80%;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 0 4em;
}

img {
    height: fit-content;
    width: 200px;
}

.repetente {
    padding-top: 2em;
}

ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    margin: 1em 0;
    background-color: grey;
    padding: 0.5em;
    border-radius: 12px;
    text-align: center;
    display: flex;
}
li a{
    color: #FFF;
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}
li:hover{
    transition: .5s;
    background-color: rgba(146, 146, 146, 0.578);
    text-shadow: 0 0 5px black;
}
.svg {
    fill: #fff;
    height: 28px;
    width: fit-content;
}
.socials {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.socials li {
    background-color: transparent;
    display: flex;
    align-items: center;
}

@media(min-width: 768px) {
    body{
        width: 60%;
    }
}